* {
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0px;
    margin: 0px;
}


.icon-buscador{
    /*
    usamos display inline block porque queremos que estén pegaditos la parte de inline y block para que las propiedades de width y heigth sigan haciend efecto y hagn mi icono pequeño
    */
    display: inline-block;
    width: 24px;
    height: 24px;
}

ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 4px;
}

footer ul {
    display: inline-block;
    margin: 15px 12px;
}

footer ul li {
    display: inline;
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    padding: 15px;
}

header {
    height: 8vh;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    height: auto;
}

.btn-buscador{
    border: black solid 1px;
}

#input-buscador {
    outline: none;
    border: none;
}
/*

main {
    height: ;
}

align text

float

unidades de medida



*/